/* Animations */
@keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
}
/* Styles */
#homeContainer{
    background-color: white;
    width: 100vw;
    height: 100vh;
}
#homeContainer ul li{
    background-color: #00000000;
}
#homePageSlider{
    height: 80%;
}
.buttonContainer{
    width: 200px;
    height: 250px;
    position: absolute;
    z-index: 2;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 3s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    transform: translateX(-50%);
    top: 1%;
}
#aboutButtonContainer{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 1;
}
#aboutButtonContainer p{
    overflow-y: scroll;
}
#resumeButtonContainer{
    left: 25%;
    cursor: pointer;
}
#skillsButtonContainer{
    left: 50%; 
    cursor: pointer;
}
#projectsButtonContainer{ 
    left: 75%;
    cursor: pointer; 
}
.container{
    width: min(30vw, 400px);
    position: absolute;
    bottom: 0;
    left: 3rem;
    opacity: 0;
    display: none;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    animation: show 2s ease-in-out 0.75s forwards;
    height: 55%;
    justify-content: space-between;
}
.container p{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 0;
    border-radius: 10px;
    font-size: 1.05rem;
}
.container ul{
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.05rem;
    list-style: none;
}
.showMore{
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    margin: 10px auto 0;
}
#aboutButtonContainer .container{
    display: flex;
}
nav{
    flex-direction: row;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
}
.arrow{
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 30%;
    border-radius: 50%;
    cursor: pointer;
}
.arrow:hover{
    background-color: rgba(255,255,255,0.3);
}
#aboutButtonContainer{
    background-image:url("../Images/IMG_3406.JPG");
}
#resumeButtonContainer{
    background-image: url("../Images/IMG_1939.JPG");
}
#skillsButtonContainer{
    background-image: url("../Images/IMG_7480.JPG");
}
#projectsButtonContainer{
    background-image: url("../Images/IMG_4450.JPG");
}
/* Media Queries */
@media only screen and (min-width: 650px) and (max-width: 900px){
    .container h2{
        font-size: 1rem;
    }
    .container p{
        font-size: 0.7rem;
    }
    #showMore{
        font-size: 0.7rem;
    }    
    .buttonContainer{
        width: 160px;
        height: 180px;
    }
}
