nav{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    align-content: space-between;
    width: 101vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(154,154,154,1) 50%, rgba(255,255,255,1) 100%);
    background-image: url('../Images/IMG_2594.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
nav h1{
    font-size: 7em;
    margin: 0;
    text-align: center;
    font-family: cursive;
}
#last{
    align-self: flex-end;
}
#homeContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
#homeContianer > div{
    padding: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
}
#homeContainer div:nth-child(2), #homeContainer div:nth-child(3), #homeContainer div:nth-child(4){
    display: none;
}
#homeContainer > div > h2{
    text-align: center;
}
/* Media Queries (Tablet) */

/* Media Queries (Laptop/ Desktop) */
@media only screen and (min-width:1800px) {
    nav{
        background-position: 85%;
    }
}
