/* Fonts */
@font-face {
    font-family: 'indieFlower';
    src: url('../Fonts/IndieFlower-Regular.ttf');
}
/* styles */
#landingPage{
    width: 100vw;
    height: 100dvh;
    background: rgb(2,0,36);
    background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(154,154,154,1) 50%, rgba(255,255,255,1) 100%);
    background-image: url('../Images/IMG_2594.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
}
#fullName{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#fullName h1{
    font-size: 6em;
    margin: 0;
    text-align: center;
    font-family: 'indieFlower', cursive;
    width: 100vw;
    background-color: #0000007a;
    color: #b5b5b5;
    letter-spacing: .6rem;
}
/* Media Queries (Laptop/ Desktop) */
@media only screen and (min-width:1800px) {
    #fullName h1{
        font-size: 8em;
    }
}
