nav{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(154,154,154,1) 50%, rgba(255,255,255,1) 100%);
    background-image: url('../Images/IMG_2594.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}
nav h1{
    font-size: 23rem;
    margin: 0;
    text-align: center;
}

/* Media Queries (Tablet) */

/* Media Queries (Laptop/ Desktop) */
