#projectsContainer{
    background-color: #594f4f;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#projectsContainer > h1{
    text-align: center;
}
#projectsContainer > div{
    display: grid;
    grid-template-columns: 50% 50%;
}
#projectsContainer > div > h2{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
#projectsContainer > div > div {
    background-color: lightslategrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#projectsContainer > div > div > h2{
    text-align: center;
}
#projectsContainer > div > div > p{
    text-align: center;
}
#projectsContainer > div > div > a{
    text-decoration: none;
    text-align: center;
    color: rgb(207, 207, 207);
}
